if SHIELD_KALYPSO_LEFT

config ZMK_KEYBOARD_NAME
    default "Kalypso"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KALYPSO_LEFT || SHIELD_KALYPSO_RIGHT

config ZMK_SPLIT
    default y

endif